.btn {
    margin: auto;
    border: none;
    display: block;
    width: 120px;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
    background: orange;
}
.btn:hover{
    background: red;
}

.selected {
    background-color: pink;
}